/* We are using the 'Roboto' font from Google. This has already been added to your HTML header */

body {
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 100;
}
h1 {
	font-weight: 100;
}

/* Utilities */

/* Main styles */

/* HEADER */
.header .navbar {
	display: flex;
	justify-content: space-between;
	margin: 10px 0px;
}
@media screen and (max-width: 576px) {
	.header .navbar {
		margin: 5px 0px;
	}
}
.navbar .logo {
	width: 20px;
	padding-left: 40px;
}
.menu-icon {
	display: none;
}

.navbar .navigation-menu {
	display: flex;
	align-items: center;
	width: 400px;
	justify-content: space-between;
	padding: 0 30px;
}
.navbar .navigation-menu .navigation-link {
	text-decoration: none;
	color: gray;
	font-size: 12px;
}
.navbar .navigation-menu .navigation-link.active {
	font-weight: 500;
}
.navbar .navigation-menu .navigation-link:hover {
	color: #f15b2a;
	font-weight: 500;
}
/*  Media queries NavBar */
@media screen and (max-width: 576px) {
	.navbar .navigation-menu {
		display: none;
	}
	.navbar .logo {
		padding-left: 10px;
	}
	.menu-icon {
		display: inline;
		margin: 10px 10px;
	}
	.menu-icon i {
		font-size: 20px;
	}
}
/* HERO IMAGE */
.hero-image {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("/img/first-background.jpg");
	height: 550px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.hero-image .hero-text {
	text-align: center;
	color: white;
}

.hero-image .hero-text button {
	background: #f15b2a;
	border: none;
	padding: 10px 20px;
	border-radius: 3px;
	font-size: 12px;
}
@media screen and (max-width: 576px) {
	.hero-image {
		height: 280px;
	}
	.hero-image .hero-text {
		width: 150px;
	}
}
/* Section with the icons */
.icons-container {
	text-align: center;
	margin-top: 80px;
}
.icons-items {
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}
@media screen and (max-width: 576px) {
	.icons-container {
		margin-top: 30px;
	}
	.icons-container h1 {
		font-size: 20px;
		padding: 0 30px;
	}
	.icons-items {
		flex-direction: column;
		font-size: 14px;
		font-weight: 400;
	}
	.icons-items div {
		margin-top: 20px;
	}
}

/* Aditional */

.additional {
	width: 100%;
	margin-top: 80px;
	display: flex;
}
.additional .additional-img {
	width: 50%;
}
.additional .additional-img img {
	width: 100%;
}
.additional .additional-text {
	width: 50%;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #fab1a0;
	opacity: 0.9;
}
.additional-text p {
	color: rgb(85, 82, 82);
	font-weight: 400;
	font-style: italic;
}
.additional-text button {
	background: #f15b2a;
	color: white;
	font-size: 12px;
	border: none;
	padding: 10px 15px;
	border-radius: 3px;
}

.footer {
	margin-top: 80px;
	text-align: center;
	border-top: 1px solid #d3d3d3;
}
.footer p:first-child {
	font-weight: normal;
}
.social-links a {
	margin-right: 15px;
}
.facebook {
	color: rgb(81, 81, 247);
}
.instagram {
	color: red;
}
.twitter {
	color: paleturquoise;
}

@media screen and (max-width: 576px) {
	.footer {
		font-size: 14px;
	}
}
